
.chip{
  font-size: small;
}
.fix-size-70{
  width: 70px;
}
.active{
      background: lightblue !important;
}
.offline{
  background:lightcoral !important;
}
.available{
  background: #40db64 !important;
}
.away{
  background: yellow!important;
}
.busy{
  background: yellow!important;
}
.invisible{
  display: none;
}